<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name=".NotificationActionReceiver" android:exported="false">
            <intent-filter>
                <action android:name="STOP_COUNTDOWN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
